[submodule "Favdir"]
	path = Favdir
	url = https://github.com/b4b4r07/favdir.git
	ignore = dirty
[submodule "Enhancd"]
	path = Enhancd
	url = https://github.com/b4b4r07/enhancd.git
	ignore = dirty
[submodule "Prezto"]
	path = Prezto
	url = https://github.com/sorin-ionescu/prezto.git
	ignore = dirty
[submodule "zsh/Zsh-autosuggestions"]
	path = zsh/Zsh-autosuggestions
	url = https://github.com/tarruda/zsh-autosuggestions.git
